/node_modules
/public/hot
/public/storage
/public/.well-known/
/public/error_log
/public/favicon/back/
/storage/logs/paypal/log
storage/\logs\paypal\log
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
