@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700;800;900&family=Roboto+Condensed:wght@300;400;700&display=swap');
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

p{ margin-bottom: 1rem;}



#post_content a{
    color: #007bff;
}

#post_content h1{
    font-size: 2rem;
    font-weight: bold;
}

#post_content h2{
    font-size: 1.5rem;
    font-weight: bold;
}

#post_content h3{
    font-size: 1.2rem;
    font-weight: bold;
}

.video-responsive {
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    padding-top: 30px;
    position: relative;
}
.video-responsive iframe, .note-video-clip object, .note-video-clip embed {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.content ol, ul {
    list-style: none;
}
.button_link{
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
}
.line-dashed{
    border-top: 1px dashed #e7eaec;
    color: #ffffff;
    background-color: #ffffff;
    height: 1px;
    margin: 20px 0;
}

